<h2>Последние {{ numbers|length }} чисел</h2>
<div class="description-stat">При наведение на число вы увидите дату (Время Московское) когда число было записано в базу данных (погрешность с настоящим выпадением чисел меньше минуты)</div>
<div class="numbers-scanner-block big">
  {% for number in numbers %}
    {% set newdate = (number.time / 1000)|round(0, 'floor') %}
    <div class="number"  data-time="{{number.time}}">{{ number.number }}<span class="date">{{ newdate|date('d.m.Y H:i') }}</span></div>
  {% endfor %}
</div>
