<h2>Статистика по числам</h2>
<div class="description-stat">Частота появления оценивает статистику выпадения числа за всю историю (сколько раз в % оно появлялось в среднем)</div>

<div class="numbers-scanner-block stat">
  {% for number in numbers_stat %}
    <div class="number">
      {{ number.number }}
      <span class="stat">
        Частота появления: {{ (number.frequency*100)|number_format(4, ',') }}%</br>
        Не выпадало ходов: {{ number.noShowUp }}</br>
      </span>
    </div>
  {% endfor %}
</div>

{% if game_stat %}
  <div class="close-stat">
    <h4>Статистика комбинации чисел: </h4>
    <strong>Выигрыш через ставок в среднем:</strong> {{ game_stat.averageClose|number_format(2, ',') }}<br>
    <strong>Выигрыш через ставок максимум:</strong> {{ game_stat.maxClose }}<br>
    <strong>Коэффицент ставки:</strong> {{ game_stat.betKoeff|number_format(2, ',') }}<br>
    <strong>Вероятность выиграть:</strong> {{ (100/game_stat.averageClose)|number_format(2, ',') }} %
  </div>
{% endif %}
