.content-header {
  background-color: black !important;
  padding-bottom: 14px !important;
  color: white;
}

.loto-title, .numbers-block {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.numbers-block, .numbers-scanner-block {
  margin-bottom: 40px;

  border-bottom: 2px dashed black;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 20px;
  position: relative;
}

.number {
  text-align: center;
  width: 30px;
  border: 1px solid gray;
  margin: 10px 2px 2px;
  height: 25px;
  padding-top: 5px;

}

.number:hover {
  color: white;
  background: black;
  cursor: pointer;
}

.menu--account ul li.menu-item, .menu--loto ul li.menu-item {
  list-style: none;
  padding: 3px 10px;
  margin-left: 0px;
}

.menu--account ul li.menu-item, .menu--loto ul li.menu-item {
  border-left: 1px solid gray;
}

.menu--account ul li.menu-item:nth-child(1), .menu--loto ul li.menu-item:nth-child(1) {
  border: none;
}

.menu--account ul.menu, .menu--loto ul.menu {
  display: flex;
  margin-left: 0px;
  margin-bottom: 10px;
  justify-content: right;
}

.menu--loto ul.menu {
  justify-content: left;
}

.menu--account a, .menu--loto a {
  text-transform: uppercase;
  font-size: 13px;
  color: black;
  font-weight: bold;
}

.menu--loto a {
  color: white;
}

.menu--loto a:hover, .menu--loto ul.menu a.is-active, .breadcrumb__link:hover {
  color: red;
}

.number .date, .number .stat {
  background: black;
  padding: 5px;
  color: white;
  position: absolute;
  /*left: -280px;*/
  /*top: -53px;*/
  display: none;
  z-index: 100;
}

.number.new {
  background: red;
  color: white;
}

.number .stat {
  font-size: 12px;
  text-align: left;
}

.number:hover .date, .number:hover .stat {
  display: block;
}

.description-stat {
  font-style: italic;
}

.breadcrumb__list a {
  color: white;
}

.is-horizontal .tabs .tabs__link {
  color: red;
}

.is-horizontal .tabs .tabs__link.is-active {
  color: red
}

.is-horizontal .tabs .tabs__link.is-active::before {
  border-bottom: 3px solid red;
}

article.node--type-page {
  max-width: 732px;
  margin: 0 auto;
}

a.link-head {
  color:red;
}
